extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)
  link(rel="stylesheet" href="/stylesheets/about.css")

block content
    .about-main--container
        .about-main--title
            h1 DDIY Overflow
        .about-main--body
            div DDIY (Don't Do It Yourself) Overflow is a "Stack Overflow" clone for STEM DIY projects. Join a community of elite DIYers and engineers and share new ideas with the thinktank-like network of like-minded enthusiasts to solve problems together. While anyone can access posted questions and answers, registered users may personally engage in the network. Click the 'Demo' link in the user menu to get a feel for the site from a users perspective.        
            p
        .ddiy-link(onClick='location.href="https://github.com/jdaniel01/ddiy-overflow-clone"') DDIY Overflow on GitHub
            i(class="fab fa-github") 
