extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)
  link(rel="stylesheet" href="/stylesheets/about.css")

block content
    .about-main--container
        .about-main--title
            h1 DDIY Overflow
        .about-main--body
            div DDIY (Don't Do It Yourself) Overflow is a Stack Overflow clone that focuses on STEM related DIY projects. The purpose is for these advanced DIYers to have a community of engineers and the like to bounce ideas off of, discuss theory and other generally complex topics. Here both users and non-users can search and view questions related to a project they, or others, are working on. Users have the added option of asking their own questions, answer others', and even up/down vote the answers provided by others. Like any site, we have user log in/out, register and edit (account) functionalities to enable users to come and got as they wish. Take a moment to 'Demo' our site by clicking the button in the navigation bar to browse around.  If you want additional details about the project, checkout our Github project page using the link below. Developer information can be found in the footer. Thanks for checking out DDIY Overflow!
            p
        
        .ddiy-link(onClick='location.href="https://github.com/jdaniel01/ddiy-overflow-clone"') DDIY Overflow on GitHub
            i(class="fab fa-github") 
