extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)
  script(src='/javascripts/filtersIndex.js' )

block content
  .title-container
    h1= title
    p Don't do it yourself! Get help. (You need it)
  .index-container
    .index-topbar--container
      .sorted-display
        span#filter Newest Questions
      .sorted-filter 
        button(onclick=`switchDisplay('newest')`) Newest
        button(onclick=`switchDisplay('oldest')`) Oldest
        button(onclick=`switchDisplay('mostAnswered')`) Most Answered
    .index-body--container
      each questions, index in questionsArr
        div(class="index-question--outer"+index)
          each question in questions
            div(class='index-question--container' onclick=`location.href='/questions/' + ${question.id}`)
              .index-question--info 
                .index-question--answers 3 Answers
                .index-question--votes 99 Votes
              .index-question--content
                span=question.title 
                span#index-question--time=question.updatedAt
