doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title="Express Starter App"
    script(src="https://kit.fontawesome.com/a476cc5123.js") 
    link(rel='stylesheet' href='/stylesheets/index.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css')
  block head
  body
    nav(class="animate__animated animate__slideInDown")
      .logo-container
        .img-container
          img(src="/images/DDIY-LOGO.png" onclick="location.href=`/`")
      form.search-container(action=`/searches` method="post")
        input(type="text" name="filter" placeholder="Looking for something?")

        input.search-submit(type='submit' value='Search')
      .nav-container
          div(onclick="location.href='/questions'") Ask?
          div(onclick=`location.href='/about'`) About
          div(onclick=`location.href='/users/login'`) Login
          div(onclick=`location.href='/users/register'`) Register
          div(onclick=`location.href='/demo'`) Demo
      if (user && user.name)
        .user-container
          .wecome-message Welcome #{user.name}!
          .img-container
            img(src="/images/user-green.png" onclick=`location.href='/users/${user.id}'`)
      else
        .user-container
          .wecome-message Welcome guest!
          .img-container
            img(src="/images/user-grey.png" onclick="location.href='/users/login'")
  .body-container
    block content
