doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title="Express Starter App"
    script(src="https://kit.fontawesome.com/a476cc5123.js") 
    link(rel='stylesheet' href='/stylesheets/index.css')
    script(src="https://kit.fontawesome.com/a476cc5123.js")
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css')
  block head
  body
    nav(class="animate__animated animate__slideInDown")
      .logo-container
        .img-container
          img(src="/images/DDIY-LOGO.png" onclick="location.href=`/`")
      form.search-container(action=`/searches` method="post")
        input(type="search" name="filter" placeholder="Looking for something?")

        input.search-submit(type='submit' value='Search')
      .nav-container
          div(onclick="location.href='/questions'") Ask?
          div(onclick=`location.href='/about'`) About
          div(onclick=`location.href='/users/login'`) Login
          div(onclick=`location.href='/users/register'`) Register
          div(onclick=`location.href='/demo'`) Demo
          div(onclick=`location.href='/users/logout'`) Logout
      if (user && user.name)
        .user-container
          .wecome-message Welcome #{user.name}!
          .img-container
            img(src="/images/user-green.png" onclick=`location.href='/users/${user.id}'`)
      else
        .user-container
          .wecome-message Welcome guest!
          .img-container
            img(src="/images/user-grey.png" onclick="location.href='/users/login'")
  .body-container
    block content
    block footer
      footer.footer(class="animate__animated animate__fadeInUp")
        h1 The Developers
        .creators-foot
          .user-foot(onclick=`location.href=\"https://github.com/nathanblaz\"`)
            .user-title
              h2 Nathan Blaz
                p Full-Stack Software Developer
                p (JavaScript, Express, CSS, Node)
            .user-img
              img(src="https://avatars.githubusercontent.com/u/24424412?v=4")
            .user-projects
          .user-foot(onclick=`location.href=\"https://github.com/JeffersonGarcia15\"`)
            .user-title
              h2 Jefferson Lopez Garcia
                p Full-Stack Software Developer
                p (JavaScript, Express, CSS, Node)
            .user-img
              img(src="https://avatars.githubusercontent.com/u/29271142?v=4")
            .user-projects
          .user-foot(onclick=`location.href=\"https://github.com/jsalgg\"`)
            .user-title
              h2 Jonathan Salguero
                p Full-Stack Software Developer
                p (JavaScript, Express, CSS, Node)
            .user-img
              img(src="https://avatars.githubusercontent.com/u/77176222?v=4")
            .user-projects
          .user-foot(onclick=`location.href=\"https://github.com/jdaniel01\"`)
            .user-title
              h2 James Daniel Jr.
                p Full-Stack Software Developer
                p (JavaScript, Express, CSS, Node)
            .user-img
              img(src="https://secure.gravatar.com/avatar/73dda48734b6731c3d8cc4e70a2b81ff?secure=true&size=300")
            .user-projects
