extends layout.pug
include utils.pug
block head
block content
    if errors
        +validationErrorSummary(errors)
    if results
        each result in results
            h3 result.id
            //- if (result.title)
            //-     .search-result-container(onclick=`location.href="/questions/${result.id}"`)
            //-         h3.result #{result.title}
            //- else
            //-     .search-result-container(onclick=`location.href="/questions/${result.questionId}"`)
            //-         h3.result #{result.answer}
