extends layout 
include utils 

block content 
    +validationErrorSummary(errors)
    form(action="/users/login" method="post")
        input(type='hidden' name='_csrf' value=csrfToken)
        +field('Email', 'email', '', 'email')
        +field('Password', 'password', '', 'password')
        div
            button(type='submit') Login
