extends index
include utils 

block content 
    link(rel='stylesheet' href='/stylesheets/single-question.css')
    for answer in answers
        div(class="answer-body")
            div(class="answer-votes")
                i(class="fas fa-chevron-up" id='upVote') 
                div(class="answer-vote")
                    if(answer.Votes.length > 0)
                        div(class="number-of-votes") + #{answer.Votes.length}
                i(class="fas fa-chevron-down" id='downVote')