/*
background1 - #EBEBEB
background2 - #FDF0D5
textColor dark - #03110D
another gray - #77777E
stand out color 1- #507255
standout color 2 - #
clicked link - #00FFCD
hover link - #5c5c5c
untouched link - #77777E
hover clicked touched link - #00cca3




*/

h1 {
  color: #507255;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
  color: #03110d;
  background-color: #ebebeb;
  padding-top: 20px;
}
nav {
  display: grid;
  grid-template-areas: "logo search nav profile";
  background-color: #fdf0d5;
  grid-template-columns: 1fr 2fr 5fr 3fr;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  box-shadow: 0rem 5px 5px hsl(240, 3%, 48%);
  margin-top: -.5em;
  border-top: .85rem solid hsl(129, 11%, 36%);
}

.body-container {
  margin-top: 4.5rem;
}
.nav-container {
  display: flex;
  align-items: center;
  grid-area: "nav";
}
.nav-container div {
  box-sizing: border-box;
  height: 1fr;
  width: 1fr;
  padding: 1rem;
}
.nav-container div:hover {
  box-sizing: border-box;
  width: 1fr;
  background-color: #507255;
  color: #ebebeb;
  height: 1fr;
  width: 1fr;
  box-shadow: 1px 2px 2px hsl(240, 3%, 48%);
  padding: 1rem;
  border-radius: .25em;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  grid-area: "logo";
}
.logo-container img {
  height: 4.5em;
}
.search-container {
  grid-area: "search";
  display: flex;
  flex-wrap: nowrap;
  height: fit-content;
  align-items: center;
}
.search-container input::placeholder {
  color: hsl(240, 3%, 48%);
  background-color: #ebebeb;
}
.search-container input::placeholder:focus {
  color: #ebebeb;
  background-color: rgb(119, 119, 126);
}
input {
  border-radius: .25em;
}

.search-submit {
  background-color: hsl(129, 11%, 36%);
  color: white;
}

.title-container {
  color: red;
}

.user-container {
  grid-area: 'profile';
  display: flex;
  height: 75%;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 1rem;
}
.user-container img {
  height: 2.5em;
}
.user-container div{
  padding: 5px;
}

.index-container {
  margin: 25px;
  padding: 25px;
}
.index-topbar--container {
  display: flex;
  justify-content: space-between;
  border-bottom: 10px solid #507255;
}

.index-body--container {
  background-color: #fdf0d5;
  box-shadow: 5px -5px 5px 0px #bcc6c0;
}

.index-question--container {
  display: flex;
  justify-content: flex-start;
  margin: 15px;
  padding: 15px;
}
.index-question--info {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 5px solid #507255;
}
.index-question--answers {
  font-size: small;

  height: 2.5rem;
}
.index-question--votes {
  font-size: small;
  height: 2.5rem;
}
.index-quesiton--content {
  display: flex;
  flex-direction: column;
  height: 5rem;
  border-bottom: 5px solid #507255;
  align-content: center;
  justify-content: center;
}
span#index-question--time {
  justify-self: flex-end;
  align-self: flex-end;
  font-size: x-small;
}
