/*
background1 - #EBEBEB
background2 - #FDF0D5
textColor dark - #03110D
another gray - #77777E
stand out color 1- #507255
standout color 2 - #
clicked link - #00FFCD
hover link - #5c5c5c
untouched link - #77777E
hover clicked touched link - #00cca3
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

h1 {
  color: #507255;
}
body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: larger;
  color: #03110d;
  background-color: #e6eee0;
  padding-top: 20px;
}
nav {
  display: flex;
  background-color: #fdf0d5;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  box-shadow: 0rem 5px 5px hsl(240, 3%, 48%);
  margin-top: -0.5em;
  border-top: 0.85rem solid hsl(129, 11%, 36%);
  width: 100%;
  max-width: 100%;
  font-size: 20pt;
}

.body-container {
  margin-top: 7em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  background-color: #e6eee0;
}
.nav-container {
  display: flex;
  align-items: center;
  
}
.nav-container div {
  box-sizing: border-box;
  padding: 1rem;
}
.nav-container div:hover {
  box-sizing: border-box;
  background-color: #507255;
  color: #ebebeb;
  box-shadow: 1px 2px 2px hsl(240, 3%, 48%);
  padding: 1rem;
  border-radius: 0.25em;
  cursor: pointer;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.logo-container:hover {
  cursor: pointer;
}
.logo-container img {
  height: 10rem;
  margin-left: 15%;
  margin-top: -20%;
}
.search-container {

  display: flex;
  flex-wrap: nowrap;
  height: fit-content;
  align-items: center;
}
.search-container input::placeholder {
  color: hsl(240, 3%, 48%);
  background-color: #ebebeb;
}
.search-container input::placeholder:focus {
  color: #947070;
  background-color: rgb(119, 119, 126);
}
input {
  border-radius: 0.25em;
}
textarea {
  border-radius: 0.25em;
}

.search-submit {
  background-color: hsl(129, 11%, 36%);
  color: white;
}

.title-container {
  color: #77777e;
  text-align: center;
}

.user-container {
  font-size: 16pt;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 1rem;
  justify-self: flex-end;
  position: relative;
  
}

.user-container:hover > .user-nav-container{
  visibility: visible;
}

.user-container img {
  height: 5rem;
}
.user-container div {
  padding: 5px;
}

/* .user-nav-container {
  visibility: hidden;
} */
.user-nav-container{
  visibility: hidden;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 100%;
  right: 0%;
  padding: none;
  font-size: 20pt;
  background-color: rgb(230, 238, 224);
  border:.5px solid hsl(131, 9%, 24%);
}

.user-nav-container>div{
  box-sizing: border-box;
  width: 100%;
}

.user-nav-container>div:hover {
  background-color:hsl(129, 11%, 36%);
  color:rgb(230, 238, 224);
  box-sizing: border-box;
  width: 100%;
}

.index-container {
  padding: 25px;
}
.index-topbar--container {
  display: flex;
  justify-content: space-between;
  border-bottom: 10px solid #507255;
  margin-bottom: 2%;
  margin-top: 1%;
}

.index-body--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 5px solid #507255;
  border-radius: 15px;
  background-color: #fdf0d5; */
  /* box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.3); */
  padding: 2%;
  align-items: center;
  margin: 1%;
}

.index-question--container {
  background-color: #ebebeb;

  /* box-shadow: 1em 2em 2em -2em rgb(0 0 0 / 75%); */
  padding: 2em;
  display: flex;
  /* background-color: white; */
  justify-content: space-evenly;
  align-self: center;
  /* border: px solid #507255; */
  /* border-radius: 15px; */
  /* padding: 2%; */
  width: 90%;
  margin: 1%;
  text-align: left;
  border: 1px solid hsl(129, 11%, 36%);
}
.index-question--container:hover {
  background-color: rgb(202, 200, 200);
  box-shadow: 1em 2em 2em -2em rgb(0 0 0 / 75%);
  cursor: pointer;
}
.index-question--info {
  color: #77777e;
  display: flex;
  justify-self: flex-start;
  flex-direction: column;
  align-items: center;
  /*
  border: 3px solid #507255;
  border-radius: 50%;
  */
  margin: 1%;
  padding: 1%;
  width: 5rem;
}
.index-question--answers {
  font-size: x-small;

  height: 2.5rem;
}
.index-question--votes {
  font-size: x-small;
}
.index-question--content {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  top: 2%;
}
span#index-question--time {
  justify-self: flex-end;
  align-self: flex-end;
  font-size: x-small;
}

.sorted-filter button {
  border-radius: 0.25em;
  background-color: hsl(129, 11%, 36%);
  color: white;
}
.sorted-filter button:hover {
  background: hsl(131, 9%, 24%);
  cursor: pointer;
}
.search-result--container {
  background-color: #ebebeb;

  box-shadow: 1em 2em 2em -2em rgb(0 0 0 / 75%);
  padding: 2em;
  display: flex;
  /* background-color: white; */
  justify-content: space-evenly;
  align-self: center;
  /* border: px solid #507255; */
  /* border-radius: 15px; */
  /* padding: 2%; */
  width: 90%;
  margin: 1%;
  text-align: left;
}
.search-result--container:hover {
  background-color: rgb(202, 200, 200);
}
.search-result--info {
  color: #77777e;
  display: flex;
  justify-self: flex-start;
  flex-direction: column;
  align-items: center;
  /*
  border: 3px solid #507255;
  border-radius: 50%;
  */
  margin: 1%;
  padding: 1%;
  width: 5rem;
}
.search-result--answers {
  font-size: x-small;

  height: 2.5rem;
}
.search-result--votes {
  font-size: x-small;
}
.search-result--content {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  top: 2%;
}
span#search-result--time {
  justify-self: flex-end;
  align-self: flex-end;
  font-size: x-small;
}
.search-result-body--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 5px solid #507255;
  border-radius: 15px;
  background-color: #fdf0d5;
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.3); */
  padding: 2%;
  align-items: center;
  margin: 1%;
}
footer {
  border-top: 1px solid hsl(129, 11%, 36%);
  margin-top: 5rem;
  display: flex;
  flex-flow: column wrap;
  background-color: rgb(202, 200, 200);
  width: 100%;
  text-align: center;
  justify-content: center;
  height: 10%;

}
.creators-foot {
  border-top: 1px solid hsl(129, 11%, 36%);
  border-bottom: 1px solid hsl(129, 11%, 36%);
  display: flex;
  justify-content: space-around;
  align-items: space-around;
  height: 10%;
  background-color: #fdf0d5;
  padding: 3rem;
}
h1.dev-foot {
  background-color: hsl(129, 11%, 36%);
  position: static;
  color: #fdf0d5;
  width: 100%;
  border-top: 1px solid #507255;
}
.user-img img {
  height: 10rem;
  border: 1px solid hsl(129, 11%, 36%);
  border-radius: 0.5em;
}
.user-img img:hover {
  border: 1px solid #ebebeb;
  cursor: pointer;
}
.user-title {
  background-color: #ebebeb;
  border: 1px solid rgb(202, 200, 200);
  padding: 2rem;
  font-size: 12pt;
}
.user-title p {
  font-size: 10pt;
}
.user-projects {
  font-size: 20pt;
}
.fab {
  padding: 0 20px;
}
.fab:hover {
  color: #ebebeb;
  cursor: pointer;
}
.user-foot {
  padding: 1rem;
  background-color: rgb(202, 200, 200);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  box-shadow: 2rem 2rem 3rem #77777e;
  height: auto;
}
.user-foot:hover{
  background-color: hsl(129, 11%, 36%);
}


.profile-question--container {
}
.profile-question--title {
}
.profile-question--updated {
}

.profile-answer--container {
}
.profile-answer--title {
}
.profile-answer--updated {
}
.about-main--container{
  display: flex;
  flex-flow: column wrap;
  width: 70%;
  justify-content: center;
  align-items: center;
  background-color: #ebebeb;
  border: 1px solid hsl(129, 11%, 36%);
  padding: 3%;
}
.about-main--body {
  display: flex;
  flex-flow: column nowrap;
  font-size: 18pt;
}
.ddiy-link {
  font-size: 20pt;
  background-color: hsl(129, 11%, 36%);
  color: #ebebeb;
  padding: 2%;
  border-radius: .5rem;
}
.ddiy-link:hover {
  background-color:#2c3645;
  color: #fff;
  cursor: pointer;
}
.user-container img {
  cursor: pointer;
  object-fit: cover;
  border-radius: 50%;
  width: 112px;
  height: 112px;
}
